@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<RumahSakitWeb.Models.Dokter>

@{
    ViewData["Title"] = "Master Dokter";
}

<h2>Master Dokter</h2>

<p>
    <a class="btn btn-primary" asp-action="Tambah">Create New</a>
</p>
<table class="table table-stripped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spesialis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoIzin)
            </th>
            <th>
                Aksi
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nama
                    @*@Html.DisplayFor(modelItem => item.Nama)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spesialis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoIzin)
                </td>
                <td>
                    <a asp-action="Ubah" class="btn btn-warning" asp-route-id="@item.ID">Edit</a> 
                    @*modal delete*@
                    <a  class="btn btn-danger btn-delete" data-id="@item.ID" >Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@*modal hapus data*@
@using (Html.BeginForm("Hapus", "Dokter", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade bs-example-modal-sm" id="modalHapus"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Hapus Data</h4>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin akan menghapus data ini?</p>
                    <input type="hidden" name="id" class="id" id="idHapus" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </div>
            </div>
        </div>
    </div>

}


                